*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height:100vh ;
    background: url("body.jpg") center/cover no-repeat;
}